* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/pattern-background-desktop.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

@media screen and (max-width: 376px) {
    .container {
        background-image: url("images/pattern-background-mobile.svg");
    }
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 696px;
    background-color: hsl(0, 100%, 100%);
    border-radius: 20px;
}

@media screen and (max-width: 376px) {
    .order {
        width: 327px;
        height: 567px;
    }
}

.order_top-image {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.order_data {
    box-sizing: border-box;
    height: 100%;
    padding: 54px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 376px) {
    .order_data {
        padding: 38px 24px;
    }
}

.order_title {
    font-weight: 900;
    font-size: 28px;
    color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 376px) {
    .order_title {
        font-size: 24px;
    }
}

.order_description {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

@media screen and (max-width: 376px) {
    .order_description {
        padding: 0 6px;
    }
}

.order_plan {
    box-sizing: border-box;
    padding: 25px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

@media screen and (max-width: 376px) {
    .order_plan {
        padding: 17px 16px;
    }
}

.order_plan_description {
    display: flex;
    text-align: center;
    column-gap: 20px;
}

.order_plan_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.order_plan_title {
    font-size: 16px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.order_plan_price {
    font-size: 16px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.order_plan_change {
    font-weight: 700;
    font-size: 16px;
    color: hsl(245, 75%, 52%);
}

@media screen and (max-width: 376px) {
    .order_plan_change {
        font-size: 14px;
    }
}

.order_plan_change:hover {
    text-decoration: none;
    opacity: 70%;
}

.order_submit {
    box-sizing: border-box;
    padding: 15px 0;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-size: 16px;
    font-weight: 900;
    box-shadow: 0 20px 20px 0 hsl(245, 75%, 52%, 15%);
}

.order_submit:hover {
    opacity: 70%;
}

.order_cancel {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

.order_cancel:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}